
@font-face {
    font-family: 'cmu_serifroman';
    src: url('./docs/font/cmunrm-webfont.woff2') format('woff2'),
         url('./docs/font/cmunrm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
table {
width: 100%;
text-align: center;
}
th, td {
	border: 1px solid white;
	border-style: dashed;
	border-collapse: collapse;
}
td {
	width: 33.333333%;
}
td {
	height: 20%;
}

body {
	background-color: #080817;
    margin: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rap {
	width: 100%;
	height: auto;
	border-bottom: solid white;
	clear: both;
}

p {
	color: #FFFFFF;
	font-family: cmu_serifroman, Arial, Helvetica, sans-serif;
}

body {
	color: #FFFFFF;
	font-family: cmu_serifroman, Arial, Helvetica, sans-serif;
}

h1 {
	color: #FFFFFF;
	font-family: cmu_serifroman, Arial, Helvetica, sans-serif;
}

a {
	color: #FFFFFF;
	font-family: cmu_serifroman, Arial, Helvetica, sans-serif;
}

#pic_of_me {
    width: 40%;
    height: auto;
}
